#root {
  display: flex;
  justify-content: center;
}

.calc {
  box-sizing: border-box;
  display: grid;
  width: 20rem;
  height: 20rem;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
}

.calcDisplay {
  background-color: grey;
  text-align: right;
  font-size: 1.6rem;
  width: 100%;
  grid-row: 0 / span 1;
  grid-column: 1 / span 4;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 0;
}

.O {
  grid-column: 1 / span 2;
}
