#root {
  display: flex;
  justify-content: center;
}

.calc {
  box-sizing: border-box;
  display: grid;
  width: 20rem;
  height: 20rem;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
}

.calcDisplay{
  background-color: grey;
  width: 100%;
  height: 4rem;
  grid-row:0 / span 1 ;
  grid-column: 1 / span 4;
  margin-bottom: 0;
}

.button0 {
  grid-column: 1 / span 2;
}
